body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(210, 210, 177);
    display: grid;
}
a:link{
    color: rgb(33, 48, 249);
}
a:visited{
    color: rgb(249, 33, 62);
}
a:hover{
    color: rgb(33, 148, 249);
}
a:active{
    color: rgb(252, 183, 183);
}
#croat{
}
#croflag {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    padding: 10px;
    width: 360px;
    background-color: rgb(154, 188, 210);
    position: relative;
    right: 475px;
    left: 475px;
}
.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px;
}
#a{
    grid-column-start: 1;
    grid-column-end: 2;
}
#mn{
    text-align: center;
    margin-top: 10px;
    margin-left: 40px;
}

.nav{
    position: relative;
    left: 10px;
    top: 10px;
    padding-left: 5px;
    padding-right: 10px;
    width:fit-content;
    height: fit-content;
}
#cromap {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    margin-right: 50px;
    padding: 10px;
    grid-column-start: 3;
    background-color: rgb(154, 188, 210);
}
#intro{
    margin-left: 100px;
}
#pplsoc{
    text-align: center;
    margin-right: 100px;
}
.peopleandsociety{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.population{
    grid-column-start: 2;
    text-align: center;
    margin-right: 100px;
}
th,
td{
    border:1px solid rgb(60, 60, 60);
    border-collapse: collapse;
    padding: 4px;
}
table{
    border:2px solid rgb(60, 60, 60);
    border-collapse: collapse;
}
.table1{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 100px;
}
.table2{
    grid-column-start: 3;
}

.b1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#medi{
    float: inline-end;
    border: 2px solid rgb(60, 60, 60);
    padding: 10px;
    background-color: rgb(154, 188, 210);
}
h1{
    text-align: center;
}
#envi{
    margin-left: 175px;
}
.nr{
    display: grid;
    grid-template-columns: 200px 200px;
}
.list1{
    grid-column-start: 1;
    grid-column-end: 1;
}
.list2{
    grid-column-start: 2;
    grid-column-end: 2;
}
.environment{
    margin-left: 40px;
}